In [30]:
import pandas as pd

In [31]:
d= pd.read_csv(r"C:\Users\Rishikaandh\Desktop\crime detection\crime.csv")

In [32]:
d1=pd.read_csv(r"C:\Users\Rishikaandh\Desktop\crime detection\Chicago_Crimes_2001_to_2004.csv", on_bad_lines="skip")
d2=pd.read_csv(r"C:\Users\Rishikaandh\Desktop\crime detection\Chicago_Crimes_2005_to_2007.csv", on_bad_lines="skip")
d3=pd.read_csv(r"C:\Users\Rishikaandh\Desktop\crime detection\Chicago_Crimes_2008_to_2011.csv", on_bad_lines="skip")
d4=pd.read_csv(r"C:\Users\Rishikaandh\Desktop\crime detection\Chicago_Crimes_2012_to_2017.csv", on_bad_lines="skip")

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_17580\2571357834.py:1: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  d1=pd.read_csv(r"C:\Users\Rishikaandh\Desktop\crime detection\Chicago_Crimes_2001_to_2004.csv", on_bad_lines="skip")

In [33]:
a=[d1,d2,d3,d4]
data=pd.concat(a)
data.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [34]:
d.columns

Index(['TYPE', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'HUNDRED_BLOCK',
       'NEIGHBOURHOOD', 'X', 'Y', 'Latitude', 'Longitude'],
      dtype='object')

In [35]:
d['Date'] = d.apply(lambda row: pd.to_datetime(f"{int(row['YEAR'])}-{int(row['MONTH'])}-{int(row['DAY'])}", format='%Y-%m-%d', errors='coerce'), axis=1)
d = d.drop(columns=['YEAR', 'MONTH', 'DAY'])

In [36]:
d['HOUR'].fillna(0, inplace=True)
d['MINUTE'].fillna(0, inplace=True)

In [37]:
d['Date'] = d['Date'].astype(str)

In [38]:
d['Date'] = pd.to_datetime(d['Date'] + ' ' + d['HOUR'].astype(int).astype(str) + ':' + d['MINUTE'].astype(int).astype(str), format='%Y-%m-%d %H:%M', errors='coerce')

In [39]:
data['Date'] = pd.to_datetime(data['Date']).dt.strftime('%Y-%m-%d %H:%M:%S')

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_17580\3403044309.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Date'] = pd.to_datetime(data['Date']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [40]:
data.rename(columns={'Y Coordinate': 'Y'}, inplace=True)
data.rename(columns={'X Coordinate': 'X'}, inplace=True)
data.rename(columns={'Primary Type': 'TYPE'}, inplace=True)

In [41]:
d.columns

Index(['TYPE', 'HOUR', 'MINUTE', 'HUNDRED_BLOCK', 'NEIGHBOURHOOD', 'X', 'Y',
       'Latitude', 'Longitude', 'Date'],
      dtype='object')

In [42]:
data.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR', 'TYPE',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X', 'Y', 'Year',
       'Updated On', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [43]:
columns_to_drop = ['Arrest', 'Case Number', 'ID', 'Description', 'Block', 'IUCR', 'Location Description', 'Arrest', 'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On','Domestic', 'Beat', 'District','Unnamed: 0']  # List of column names to drop
data.drop(columns_to_drop, axis=1, inplace=True)

In [44]:
d

,TYPE,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude,Date
0,Other Theft,16.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-05-12 16:15:00
1,Other Theft,15.0,20.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-05-07 15:20:00
2,Other Theft,16.0,40.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-04-23 16:40:00
3,Other Theft,11.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-04-20 11:15:00
4,Other Theft,17.0,45.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-04-12 17:45:00
...,...,...,...,...,...,...,...,...,...,...
530647,Break and Enter Residential/Other,9.0,16.0,31XX ADANAC ST,Hastings-Sunrise,497265.49,5458296.71,49.277420,-123.037595,2017-03-03 09:16:00
530648,Mischief,22.0,30.0,14XX E 7TH AVE,Grandview-Woodland,494533.97,5456824.97,49.264163,-123.075129,2017-05-29 22:30:00
530649,Offence Against a Person,0.0,0.0,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000,2017-04-13 00:00:00
530650,Theft from Vehicle,17.0,0.0,8XX HAMILTON ST,Central Business District,491487.85,5458385.78,49.278168,-123.117031,2017-06-05 17:00:00
530651,Vehicle Collision or Pedestrian Struck (with I...,17.0,38.0,13XX BLOCK PARK DR,Marpole,490204.00,5451444.00,49.215706,-123.134512,2017-06-06 17:38:00

In [45]:
data

,Date,TYPE,X,Y,Latitude,Longitude,Location
0,2004-01-01 00:01:00,THEFT,NaN,NaN,NaN,NaN,NaN
1,2003-03-01 00:00:00,OTHER OFFENSE,1173974.0,1876757.0,41.817229,-87.637328,"(41.817229156, -87.637328162)"
2,2004-06-20 11:00:00,OFFENSE INVOLVING CHILDREN,NaN,NaN,NaN,NaN,NaN
3,2004-12-30 20:00:00,THEFT,NaN,NaN,NaN,NaN,NaN
4,2003-05-01 01:00:00,THEFT,1174948.0,1831051.0,41.691785,-87.635116,"(41.691784636, -87.635115968)"
...,...,...,...,...,...,...,...
1456709,2016-05-03 23:33:00,BATTERY,1159105.0,1888300.0,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,2016-05-03 23:30:00,CRIMINAL DAMAGE,1175230.0,1856183.0,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,2016-05-03 00:15:00,BATTERY,1161027.0,1862810.0,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,2016-05-03 21:07:00,BATTERY,1197261.0,1850727.0,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,2016-05-03 23:38:00,OTHER OFFENSE,1178696.0,1855324.0,41.758309,-87.620658,"(41.75830866, -87.620658418)"

In [46]:
d['TYPE'].value_counts()

TYPE
Theft from Vehicle                                        172700
Mischief                                                   70413
Break and Enter Residential/Other                          60862
Offence Against a Person                                   54142
Other Theft                                                52167
Theft of Vehicle                                           38418
Break and Enter Commercial                                 33845
Theft of Bicycle                                           25730
Vehicle Collision or Pedestrian Struck (with Injury)       21901
Vehicle Collision or Pedestrian Struck (with Fatality)       254
Homicide                                                     220
Name: count, dtype: int64

In [47]:
d['TYPE'] = d['TYPE'].replace({
    'Vehicle Collision or Pedestrian Struck (with Injury)': 'Collision',
    'Vehicle Collision or Pedestrian Struck (with Fatality)': 'Collision'
})

d['TYPE'] = d['TYPE'].replace({
    'Break and Enter Residential/Other': 'Break-in',
    'Break and Enter Commercial': 'Break-in'
})

d['TYPE'] = d['TYPE'].replace({
    'Theft of Bicycle': 'Theft of Vehicle',
})

d['TYPE'] = d['TYPE'].replace({
    'Offence Against a Person': 'Offence',
})

In [48]:
d['TYPE'].value_counts()

TYPE
Theft from Vehicle    172700
Break-in               94707
Mischief               70413
Theft of Vehicle       64148
Offence                54142
Other Theft            52167
Collision              22155
Homicide                 220
Name: count, dtype: int64

In [49]:
data['TYPE'].value_counts()

TYPE
THEFT                                1640506
BATTERY                              1442716
CRIMINAL DAMAGE                       923000
NARCOTICS                             885431
OTHER OFFENSE                         491922
ASSAULT                               481661
BURGLARY                              470958
MOTOR VEHICLE THEFT                   370548
ROBBERY                               300453
DECEPTIVE PRACTICE                    280931
CRIMINAL TRESPASS                     229366
PROSTITUTION                           86401
WEAPONS VIOLATION                      77429
PUBLIC PEACE VIOLATION                 58548
OFFENSE INVOLVING CHILDREN             51441
CRIM SEXUAL ASSAULT                    29868
SEX OFFENSE                            28707
GAMBLING                               18806
LIQUOR LAW VIOLATION                   17513
INTERFERENCE WITH PUBLIC OFFICER       15710
ARSON                                  13097
HOMICIDE                                9051
KIDNAPPING                              7756
INTIMIDATION                            4636
STALKING                                3734
OBSCENITY                                496
PUBLIC INDECENCY                         163
OTHER NARCOTIC VIOLATION                 144
NON-CRIMINAL                              97
CONCEALED CARRY LICENSE VIOLATION         90
NON - CRIMINAL                            38
RITUALISM                                 31
HUMAN TRAFFICKING                         28
NON-CRIMINAL (SUBJECT SPECIFIED)           4
DOMESTIC VIOLENCE                          2
Name: count, dtype: int64

In [50]:
data['TYPE'] = data['TYPE'].replace({
    'BURGLARY': 'THEFT',
    'ROBBERY': 'THEFT'
})

data['TYPE'] = data['TYPE'].replace({
    'MOTOR VEHICLE THEFT': 'Theft of Vehicle'
})

data['TYPE'] = data['TYPE'].replace({
    'HUMAN TRAFFICKING': 'KIDNAPPING',
    'OFFENSE INVOLVING CHILDREN': 'KIDNAPPING'
})

data['TYPE'] = data['TYPE'].replace({
    'CRIM SEXUAL ASSAULT': 'SEX OFFENSE',
    'PROSTITUTION': 'SEX OFFENSE',
    'OBSCENITY': 'SEX OFFENSE',
    'PUBLIC INDECENCY': 'SEX OFFENSE'
})
data['TYPE'] = data['TYPE'].replace({
    'STALKING': 'Mischief',
    'PUBLIC PEACE VIOLATION': 'Mischief'
    
})
data['TYPE'] = data['TYPE'].replace({
    'ASSAULT': 'Offence',
    'BATTERY': 'Offence',
    'HOMICIDE': 'Offence',
    'KIDNAPPING': 'Offence',
    'GAMBLING': 'Offence',
    'ARSON': 'Offence',
    'INTIMIDATION': 'Offence',
    'DECEPTIVE PRACTICE': 'Offence'
})
data['TYPE'] = data['TYPE'].replace({
    'RITUALISM': 'OTHER OFFENSE',
    'DOMESTIC VIOLENCE': 'OTHER OFFENSE',
    'CONCEALED CARRY LICENSE VIOLATION': 'OTHER OFFENSE',
    'LIQUOR LAW VIOLATION': 'OTHER OFFENSE',
    'CRIMINAL TRESPASS': 'OTHER OFFENSE',
    'INTERFERENCE WITH PUBLIC OFFICER': 'OTHER OFFENSE'
})
data['TYPE'] = data['TYPE'].replace({
    'NON - CRIMINAL': 'NON-CRIMINAL',
    'NON-CRIMINAL (SUBJECT SPECIFIED)': 'NON-CRIMINAL'
})

In [59]:
print(d['TYPE'].value_counts())
print(data['TYPE'].value_counts())

TYPE
Theft from Vehicle    172700
Break-in               94707
Mischief               70413
Theft of Vehicle       64148
Offence                54142
Other Theft            52167
Collision              22155
Homicide                 220
Name: count, dtype: int64
TYPE
THEFT                       2411917
Offence                     2310123
CRIMINAL DAMAGE              923000
NARCOTICS                    885431
OTHER OFFENSE                754634
Theft of Vehicle             370548
SEX OFFENSE                  145635
WEAPONS VIOLATION             77429
Mischief                      62282
OTHER NARCOTIC VIOLATION        144
NON-CRIMINAL                    139
Name: count, dtype: int64

In [52]:
d

,TYPE,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude,Date
0,Other Theft,16.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-05-12 16:15:00
1,Other Theft,15.0,20.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-05-07 15:20:00
2,Other Theft,16.0,40.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-04-23 16:40:00
3,Other Theft,11.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-04-20 11:15:00
4,Other Theft,17.0,45.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763,2003-04-12 17:45:00
...,...,...,...,...,...,...,...,...,...,...
530647,Break-in,9.0,16.0,31XX ADANAC ST,Hastings-Sunrise,497265.49,5458296.71,49.277420,-123.037595,2017-03-03 09:16:00
530648,Mischief,22.0,30.0,14XX E 7TH AVE,Grandview-Woodland,494533.97,5456824.97,49.264163,-123.075129,2017-05-29 22:30:00
530649,Offence,0.0,0.0,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000,2017-04-13 00:00:00
530650,Theft from Vehicle,17.0,0.0,8XX HAMILTON ST,Central Business District,491487.85,5458385.78,49.278168,-123.117031,2017-06-05 17:00:00
530651,Collision,17.0,38.0,13XX BLOCK PARK DR,Marpole,490204.00,5451444.00,49.215706,-123.134512,2017-06-06 17:38:00

In [53]:
data

,Date,TYPE,X,Y,Latitude,Longitude,Location
0,2004-01-01 00:01:00,THEFT,NaN,NaN,NaN,NaN,NaN
1,2003-03-01 00:00:00,OTHER OFFENSE,1173974.0,1876757.0,41.817229,-87.637328,"(41.817229156, -87.637328162)"
2,2004-06-20 11:00:00,Offence,NaN,NaN,NaN,NaN,NaN
3,2004-12-30 20:00:00,THEFT,NaN,NaN,NaN,NaN,NaN
4,2003-05-01 01:00:00,THEFT,1174948.0,1831051.0,41.691785,-87.635116,"(41.691784636, -87.635115968)"
...,...,...,...,...,...,...,...
1456709,2016-05-03 23:33:00,Offence,1159105.0,1888300.0,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,2016-05-03 23:30:00,CRIMINAL DAMAGE,1175230.0,1856183.0,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,2016-05-03 00:15:00,Offence,1161027.0,1862810.0,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,2016-05-03 21:07:00,Offence,1197261.0,1850727.0,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,2016-05-03 23:38:00,OTHER OFFENSE,1178696.0,1855324.0,41.758309,-87.620658,"(41.75830866, -87.620658418)"

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [54]:
data.rename(columns={'Location': 'NEIGHBOURHOOD'}, inplace=True)

In [55]:
main = pd.concat([d, data], ignore_index=True)
columns_to_drop = ['HOUR','MINUTE','HUNDRED_BLOCK'] 
main.drop(columns_to_drop, axis=1, inplace=True)

In [56]:
main

,TYPE,NEIGHBOURHOOD,X,Y,Latitude,Longitude,Date
0,Other Theft,Strathcona,493906.5,5457452.47,49.269802,-123.083763,2003-05-12 16:15:00
1,Other Theft,Strathcona,493906.5,5457452.47,49.269802,-123.083763,2003-05-07 15:20:00
2,Other Theft,Strathcona,493906.5,5457452.47,49.269802,-123.083763,2003-04-23 16:40:00
3,Other Theft,Strathcona,493906.5,5457452.47,49.269802,-123.083763,2003-04-20 11:15:00
4,Other Theft,Strathcona,493906.5,5457452.47,49.269802,-123.083763,2003-04-12 17:45:00
...,...,...,...,...,...,...,...
8471929,Offence,"(41.849222028, -87.69155551)",1159105.0,1888300.0,41.849222,-87.691556,2016-05-03 23:33:00
8471930,CRIMINAL DAMAGE,"(41.760743949, -87.63333531)",1175230.0,1856183.0,41.760744,-87.633335,2016-05-03 23:30:00
8471931,Offence,"(41.779234743, -87.685207125)",1161027.0,1862810.0,41.779235,-87.685207,2016-05-03 00:15:00
8471932,Offence,"(41.745251975, -87.552773464)",1197261.0,1850727.0,41.745252,-87.552773,2016-05-03 21:07:00
8471933,OTHER OFFENSE,"(41.75830866, -87.620658418)",1178696.0,1855324.0,41.758309,-87.620658,2016-05-03 23:38:00

In [60]:
# Mapping dictionary
type_mapping = {
    'Theft from Vehicle': 'Theft',
    'Break-in': 'Break-in',
    'Mischief': 'Criminal Damage',
    'Theft of Vehicle': 'Theft of Vehicle',
    'Offence': 'Offence',
    'Other Theft': 'Other Offense',
    'Collision': 'Collision',
    'Homicide': 'Homicide',
    'THEFT': 'Theft',
    'CRIMINAL DAMAGE': 'Criminal Damage',
    'NARCOTICS': 'Narcotics',
    'OTHER OFFENSE': 'Other Offense',
    'SEX OFFENSE': 'Sex Offense',
    'WEAPONS VIOLATION': 'Weapons Violation',
    'OTHER NARCOTIC VIOLATION': 'Narcotics',
    'NON-CRIMINAL': 'Non-Criminal'
}

main['TYPE'] = main['TYPE'].replace(type_mapping)

In [63]:
main["TYPE"].value_counts()

TYPE
Theft                2584617
Offence              2364265
Criminal Damage      1055695
Narcotics             885575
Other Offense         806801
Theft of Vehicle      434696
Sex Offense           145635
Break-in               94707
Weapons Violation      77429
Collision              22155
Homicide                 220
Non-Criminal             139
Name: count, dtype: int64

In [64]:
columns_to_drop = [ 'NEIGHBOURHOOD'] 
main.drop(columns_to_drop, axis=1, inplace=True)

In [67]:
print(main)

                    TYPE          X           Y   Latitude   Longitude  \
0          Other Offense   493906.5  5457452.47  49.269802 -123.083763
1          Other Offense   493906.5  5457452.47  49.269802 -123.083763
2          Other Offense   493906.5  5457452.47  49.269802 -123.083763
3          Other Offense   493906.5  5457452.47  49.269802 -123.083763
4          Other Offense   493906.5  5457452.47  49.269802 -123.083763
...                  ...        ...         ...        ...         ...
8471929          Offence  1159105.0   1888300.0  41.849222  -87.691556
8471930  Criminal Damage  1175230.0   1856183.0  41.760744  -87.633335
8471931          Offence  1161027.0   1862810.0  41.779235  -87.685207
8471932          Offence  1197261.0   1850727.0  41.745252  -87.552773
8471933    Other Offense  1178696.0   1855324.0  41.758309  -87.620658

                        Date
0        2003-05-12 16:15:00
1        2003-05-07 15:20:00
2        2003-04-23 16:40:00
3        2003-04-20 11:15:00
4        2003-04-12 17:45:00
...                      ...
8471929  2016-05-03 23:33:00
8471930  2016-05-03 23:30:00
8471931  2016-05-03 00:15:00
8471932  2016-05-03 21:07:00
8471933  2016-05-03 23:38:00

[8471934 rows x 6 columns]

In [68]:
main.columns

Index(['TYPE', 'X', 'Y', 'Latitude', 'Longitude', 'Date'], dtype='object')

In [75]:
drop=main[(main['Latitude'] == 0) & (main['Longitude'] == 0)].index
main.drop(index=drop, inplace=True)
main

,TYPE,X,Y,Latitude,Longitude,Date
0,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-05-12 16:15:00
1,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-05-07 15:20:00
2,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-04-23 16:40:00
3,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-04-20 11:15:00
4,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-04-12 17:45:00
...,...,...,...,...,...,...
8471929,Offence,1159105.0,1888300.0,41.849222,-87.691556,2016-05-03 23:33:00
8471930,Criminal Damage,1175230.0,1856183.0,41.760744,-87.633335,2016-05-03 23:30:00
8471931,Offence,1161027.0,1862810.0,41.779235,-87.685207,2016-05-03 00:15:00
8471932,Offence,1197261.0,1850727.0,41.745252,-87.552773,2016-05-03 21:07:00
8471933,Other Offense,1178696.0,1855324.0,41.758309,-87.620658,2016-05-03 23:38:00

In [ ]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import pandas as pd
import numpy as np
import time

In [ ]:
import time
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut, GeocoderUnavailable

geolocator = Nominatim(user_agent="geoapiExercises")

def get_country_from_coordinates(row):
    lat, lon = row['Latitude'], row['Longitude']
    location = None
    retries = 0

    while retries < 3:  # Retry up to 3 times
        try:
            location = geolocator.reverse((lat, lon), exactly_one=True)
            break  # Break out of the loop on success
        except GeocoderTimedOut as e:
            print(f"Geocoding timed out. Retrying ({retries + 1}/3)...")
            retries += 1
            time.sleep(1)  # Sleep for a second before retrying
        except GeocoderUnavailable as e:
            print("Geocoding service is currently unavailable. Retrying in a moment...")
            time.sleep(10)  # Sleep for 10 seconds before retrying

    if location:
        country = location.raw.get('address', {}).get('country', 'Unknown')
        return country
    else:
        return 'Unknown'

In [ ]:
# Calculate the total number of rows and the part size
total_rows = len(main)
part_size = total_rows // 10000  # Divide the data into 100 equal parts

# Initialize a list to store the parts
data_parts = []

# Split the data into 100 equal parts and store them in the list
for i in range(10000):
    start_idx = i * part_size
    end_idx = (i + 1) * part_size if i < 99 else total_rows
    part = main.iloc[start_idx:end_idx]
    data_parts.append(part)

In [ ]:
for i in range(10000):
    exec(f"part_{i} = data_parts[{i}]")

,TYPE,X,Y,Latitude,Longitude,Date
0,Other Theft,493906.5,5457452.47,49.269802,-123.083763,2003-05-12 16:15:00
1,Other Theft,493906.5,5457452.47,49.269802,-123.083763,2003-05-07 15:20:00
2,Other Theft,493906.5,5457452.47,49.269802,-123.083763,2003-04-23 16:40:00
3,Other Theft,493906.5,5457452.47,49.269802,-123.083763,2003-04-20 11:15:00
4,Other Theft,493906.5,5457452.47,49.269802,-123.083763,2003-04-12 17:45:00
...,...,...,...,...,...,...
842,Offence,0.0,0.0,0.0,0.000000,2003-04-05 00:00:00
843,Collision,497923.0,5456152.0,49.258131,-123.028544,2003-07-11 12:20:00
844,Collision,497922.0,5454731.0,49.245349,-123.028551,2003-10-17 15:55:00
845,Collision,491359.0,5458669.0,49.280714,-123.118808,2003-10-28 01:00:00
846,Collision,490894.0,5458201.0,49.276498,-123.125191,2003-10-19 04:40:00

In [80]:
a=main.head(60)

In [81]:
 a['Country'] = a.apply(get_country_from_coordinates, axis=1)
 a

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\2771790277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['Country'] = a.apply(get_country_from_coordinates, axis=1)

,TYPE,X,Y,Latitude,Longitude,Date,Country
0,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-05-12 16:15:00,Canada
1,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-05-07 15:20:00,Canada
2,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-04-23 16:40:00,Canada
3,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-04-20 11:15:00,Canada
4,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-04-12 17:45:00,Canada
5,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-03-26 20:45:00,Canada
6,Break-in,489325.58,5452817.95,49.228051,-123.146610,2003-03-10 12:00:00,Canada
7,Mischief,485903.09,5455883.77,49.255559,-123.193725,2003-06-28 04:13:00,Canada
8,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-02-16 09:02:00,Canada
9,Break-in,495078.19,5457221.38,49.267734,-123.067654,2003-07-09 18:15:00,Canada
10,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-01-31 19:45:00,Canada
11,Mischief,485852.96,5455684.11,49.253762,-123.194407,2003-09-27 01:00:00,Canada
12,Break-in,495093.69,5457230.31,49.267814,-123.067441,2003-04-19 18:00:00,Canada
13,Break-in,495103.82,5457221.02,49.267731,-123.067302,2003-09-24 18:30:00,Canada
14,Break-in,493790.48,5452630.9,49.22643,-123.085283,2003-11-05 08:12:00,Canada
15,Break-in,491067.65,5459114.22,49.284715,-123.122824,2003-09-26 02:30:00,Canada
16,Break-in,495119.32,5457229.95,49.267811,-123.067089,2003-10-21 10:00:00,Canada
17,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-01-25 12:30:00,Canada
18,Offence,0.00,0.0,0.0,0.000000,2003-02-12 00:00:00,Unknown
19,Other Theft,493906.50,5457452.47,49.269802,-123.083763,2003-01-09 06:45:00,Canada
20,Other Theft,491205.19,5458520.26,49.279374,-123.120920,2003-04-30 13:06:00,Canada
21,Other Theft,491143.26,5458445.58,49.278701,-123.121770,2003-12-12 15:50:00,Canada
22,Other Theft,491132.15,5458889.26,49.282692,-123.121932,2003-03-07 16:15:00,Canada
23,Offence,0.00,0.0,0.0,0.000000,2003-04-04 00:00:00,Unknown
24,Mischief,485822.32,5455051.83,49.248074,-123.194806,2003-01-23 23:00:00,Canada
25,Mischief,485855.58,5455060.69,49.248154,-123.194349,2003-04-01 00:00:00,Canada
26,Mischief,485896.98,5455051.18,49.24807,-123.193780,2003-06-29 00:30:00,Canada
27,Mischief,485896.98,5455051.18,49.24807,-123.193780,2003-10-16 14:10:00,Canada
28,Other Theft,490245.93,5459326.44,49.286611,-123.134128,2003-01-28 10:30:00,Canada
29,Theft from Vehicle,490148.05,5459395.79,49.287233,-123.135476,2003-08-05 12:25:00,Canada
30,Theft from Vehicle,491144.35,5458003.1,49.274721,-123.121745,2003-06-17 16:15:00,Canada
31,Offence,0.00,0.0,0.0,0.000000,2003-03-20 00:00:00,Unknown
32,Offence,0.00,0.0,0.0,0.000000,2003-04-17 00:00:00,Unknown
33,Offence,0.00,0.0,0.0,0.000000,2003-07-14 00:00:00,Unknown
34,Offence,0.00,0.0,0.0,0.000000,2003-08-08 00:00:00,Unknown
35,Offence,0.00,0.0,0.0,0.000000,2003-08-13 00:00:00,Unknown
36,Theft from Vehicle,491144.35,5458003.1,49.274721,-123.121745,2003-06-13 12:00:00,Canada
37,Theft from Vehicle,491144.35,5458003.1,49.274721,-123.121745,2003-06-11 15:00:00,Canada
38,Mischief,491191.19,5458127.83,49.275844,-123.121104,2003-11-08 22:15:00,Canada
39,Theft from Vehicle,496994.00,5457986.17,49.274626,-123.041325,2003-04-21 17:00:00,Canada
40,Mischief,490746.68,5459115.7,49.284723,-123.127238,2003-08-05 22:00:00,Canada
41,Theft from Vehicle,490277.84,5459189.14,49.285377,-123.133686,2003-08-19 06:15:00,Canada
42,Other Theft,490021.10,5459742.61,49.290351,-123.137230,2003-06-26 20:37:00,Canada
43,Other Theft,490670.45,5458416.73,49.278435,-123.128270,2003-12-01 14:37:00,Canada
44,Offence,0.00,0.0,0.0,0.000000,2003-01-18 00:00:00,Unknown
45,Mischief,494457.52,5458520.55,49.279415,-123.076204,2003-09-02 09:25:00,Canada
46,Mischief,485893.41,5454627.54,49.244259,-123.193814,2003-03-18 00:30:00,Canada
47,Other Theft,490670.45,5458416.73,49.278435,-123.128270,2003-10-18 10:50:00,Canada
48,Other Theft,490670.45,5458416.73,49.278435,-123.128270,2003-10-11 10:20:00,Canada
49,Other Theft,490670.45,5458416.73,49.278435,-123.128270,2003-05-28 18:51:00,Canada
50,Break-in,494772.11,5452573.02,49.225918,-123.071801,2003-06-30 23:00:00,Canada
51,Other Theft,490670.45,5458416.73,49.278435,-123.128270,2003-05-05 02:00:00,Canada
52,Other Theft,490670.45,5458416.73,49.278435,-123.128270,2003-02-24 21:35:00,Canada
53,Other Theft,490670.45,5458416.73,49.278435,-123.128270,2003-02-04 23:50:00,Canada
54,Break-in,494781.20,5452570.78,49.225898,-123.071676,2003-11-29 09:30:00,Canada
55,Break-in,494781.49,5452582.96,49.226008,-123.071672,2003-01-25 15:39:00,Canada
56,Other Theft,491613.02,5459490.77,49.28811,-123.115333,2003-10-03 21:32:00,Canada
57,Other Theft,490938.26,5458831.78,49.282172,-123.124597,2003-10-09 20:40:00,Canada
58,Offence,0.00,0.0,0.0,0.000000,2003-11-28 00:00:00,Unknown
59,Other Theft,490938.26,5458831.78,49.282172,-123.124597,2003-09-06 16:25:00,Canada

,TYPE,X,Y,Latitude,Longitude,Date
0,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-05-12 16:15:00
1,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-05-07 15:20:00
2,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-04-23 16:40:00
3,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-04-20 11:15:00
4,Other Offense,493906.5,5457452.47,49.269802,-123.083763,2003-04-12 17:45:00
...,...,...,...,...,...,...
8471929,Offence,1159105.0,1888300.0,41.849222,-87.691556,2016-05-03 23:33:00
8471930,Criminal Damage,1175230.0,1856183.0,41.760744,-87.633335,2016-05-03 23:30:00
8471931,Offence,1161027.0,1862810.0,41.779235,-87.685207,2016-05-03 00:15:00
8471932,Offence,1197261.0,1850727.0,41.745252,-87.552773,2016-05-03 21:07:00
8471933,Other Offense,1178696.0,1855324.0,41.758309,-87.620658,2016-05-03 23:38:00

In [83]:
for i in range(10000):
    part = data_parts[i]  # Access the part
    print(f"Processing part_{i}...")  # Acknowledge the operation

    # Apply the function to add 'Country' column
    part['Country'] = part.apply(get_country_from_coordinates, axis=1)

    print(f"Finished processing part_{i}\n")

Processing part_0...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_0

Processing part_1...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_1

Processing part_2...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_2

Processing part_3...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_3

Processing part_4...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_4

Processing part_5...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_5

Processing part_6...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_6

Processing part_7...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_7

Processing part_8...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_8

Processing part_9...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_9

Processing part_10...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_10

Processing part_11...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_11

Processing part_12...

C:\Users\Rishikaandh\AppData\Local\Temp\ipykernel_26252\1504943614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part['Country'] = part.apply(get_country_from_coordinates, axis=1)

Finished processing part_12

Processing part_13...

KeyboardInterrupt:

In [ ]:
concatenated_data = pd.concat(data_parts, ignore_index=True)

In [ ]:
output_file = 'concatenated_data.csv'
concatenated_data.to_csv(output_file, index=False)
print(f'Concatenated data saved to {output_file}')